:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prices {
  display: flex;
  gap: 10px;
}

.prices > p {
  margin-block-start: 0;
}

.name {
  font-size: 0.875rem;
}

.quantity {
  color: var(--red);
  font-weight: var(--fw-semibold);
}

.individual-price {
  color: var(--rose-300);
}

.total-price {
  color: var(--rose-500);
  font-weight: var(--fw-semibold);
}
