:host {
  display: block;
  margin-inline: 20px;
  background-color: white;
  padding: 16px;
  border-radius: 10px;
}

h2 {
  color: var(--red);
  font-weight: var(--fw-bold);
}

p {
  margin-block-start: 0;
}

.order-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 1rem;
}

.order-total > .price {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}
