:host {
  display: block;
  max-width: 320px;
  margin-block: 22px;
  position: relative;
}

img {
  border-radius: 10px;
}

.name {
  color: var(--rose-900);
  font-size: 1rem;
}

.category {
  color: var(--rose-400);
  font-weight: var(--fw-semibold);
}

.price {
  color: var(--red);
  font-weight: var(--fw-semibold);
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.product-info > * {
  margin: 0;
}
